@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#home {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3cpath d='M0 368.3L10 339.16L20 334.78L30 373.6L40 316.5L50 294.94L60 338.83L70 304.64L80 304.55L90 304.5L100 359.99L110 403.05L120 434.04L130 405.32L140 414.32L150 438.48L160 486.41L170 490.3L180 486.98L190 529.76L200 459.83L210 513.63L220 535.11L230 495.59L240 487.73L250 551.2L260 491.92L270 525.19L280 481.84L290 429.97L300 491.55L310 428.12L320 412.86L330 477.03L340 462.37L350 397.14L360 399.23L370 365.43L380 309.57L390 374.16L400 359.81L410 361.11L420 425.25L430 492.87L440 532.11L450 502.95L460 505.55L470 521.04L480 508.39L490 503.92L500 542.13L510 546.8L520 536.14L530 517.15L540 543.79L550 539.79L560 524.93L570 476.9L580 533.4L590 511.95L600 508.26L610 480.17L620 485.84L630 507.8L640 456.12L650 451.73L660 401.86L670 413.43L680 457.83L690 501.82L700 436.11L710 423.43L720 419.98L730 482.97L740 495.08L750 435.6L760 439.19L770 390.01L780 327.19L790 366.66L800 364.77L810 333.34L820 328.61L830 270.66L840 227.04L850 289.71L860 228.99L870 163.23L880 193.48L890 217.77L900 269.27L910 247.7L920 289.42L930 251.72L940 238.29L950 195.37L960 244.4L970 176.9L980 119.01L990 96.74L1000 29.76L1010 46.92L1020 59.82L1030 90.03L1040 145.52L1050 188.55L1060 238.86L1070 205.04L1080 183.74L1090 209.31L1100 219.95L1110 212.27L1120 172.32L1130 217.37L1140 213.73L1150 214.07L1160 248.29L1170 240.8L1180 301.79L1190 276.26L1200 289.43L1210 228.47L1220 258.38L1230 291.43L1240 282.88L1250 281.55L1260 309.13L1270 344.75L1280 294.54L1290 318.74L1300 386.37L1310 425.06L1320 487.3L1330 432.26L1340 389.23L1350 344.42L1360 286.32L1370 259.4L1380 279.89L1390 230.06L1400 179.75L1410 134.28L1420 146.86L1430 137.19L1440 111.76' stroke='rgba(225%2c 232%2c 239%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 368.3L10 339.16L20 334.78L30 373.6L40 316.5L50 294.94L60 338.83L70 304.64L80 304.55L90 304.5L100 359.99L110 403.05L120 434.04L130 405.32L140 414.32L150 438.48L160 486.41L170 490.3L180 486.98L190 529.76L200 459.83L210 513.63L220 535.11L230 495.59L240 487.73L250 551.2L260 491.92L270 525.19L280 481.84L290 429.97L300 491.55L310 428.12L320 412.86L330 477.03L340 462.37L350 397.14L360 399.23L370 365.43L380 309.57L390 374.16L400 359.81L410 361.11L420 425.25L430 492.87L440 532.11L450 502.95L460 505.55L470 521.04L480 508.39L490 503.92L500 542.13L510 546.8L520 536.14L530 517.15L540 543.79L550 539.79L560 524.93L570 476.9L580 533.4L590 511.95L600 508.26L610 480.17L620 485.84L630 507.8L640 456.12L650 451.73L660 401.86L670 413.43L680 457.83L690 501.82L700 436.11L710 423.43L720 419.98L730 482.97L740 495.08L750 435.6L760 439.19L770 390.01L780 327.19L790 366.66L800 364.77L810 333.34L820 328.61L830 270.66L840 227.04L850 289.71L860 228.99L870 163.23L880 193.48L890 217.77L900 269.27L910 247.7L920 289.42L930 251.72L940 238.29L950 195.37L960 244.4L970 176.9L980 119.01L990 96.74L1000 29.76L1010 46.92L1020 59.82L1030 90.03L1040 145.52L1050 188.55L1060 238.86L1070 205.04L1080 183.74L1090 209.31L1100 219.95L1110 212.27L1120 172.32L1130 217.37L1140 213.73L1150 214.07L1160 248.29L1170 240.8L1180 301.79L1190 276.26L1200 289.43L1210 228.47L1220 258.38L1230 291.43L1240 282.88L1250 281.55L1260 309.13L1270 344.75L1280 294.54L1290 318.74L1300 386.37L1310 425.06L1320 487.3L1330 432.26L1340 389.23L1350 344.42L1360 286.32L1370 259.4L1380 279.89L1390 230.06L1400 179.75L1410 134.28L1420 146.86L1430 137.19L1440 111.76L1440 560L0 560z' fill='url(%26quot%3b%23SvgjsLinearGradient1007%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='SvgjsLinearGradient1007'%3e%3cstop stop-opacity='0.65' stop-color='rgba(225%2c 232%2c 239%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='white' offset='0.8'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
